extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Осипова';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.inner
        h2.title-style-other-pages Мастер
        div.inner
            div.master-container.mx-auto
                div.master-box
                    div.master-box__text-content
                        p.master-box__name Ксения
                            span.master-box__profession  / Цветная татуировка
                    p.master-box__description Уважаю Ваш выбор тату и всегда готова подсказать лучшие варианты реализации. Предпочитаю работы в стилях акварель и графика. Хочу, чтобы по улицам нашего города ходили как можно больше людей с качественными и уникальными изображениями на теле! Без проблем сделаю перекрытие старой тату или замаскирую шрам!
                    a(href="https://www.instagram.com/_oktattoo_/" target='_blank')
                        img.master-box__inst(src=require("../images/masters/instagram.svg"))
                img.master__photo.master__photo--size(src=require("../images/index/osipova.jpg"))
            h2 Последние работы
            div.master-last-work
                div.container
                    div.row
                        div.col-10.mx-auto
                            div#slider.carousel.carousel-dark.slide(data-bs-ride="carousel")
                                ol.carousel-indicators
                                    li.active(data-bs-target="#slider" data-bs-slide-to="0")
                                    li(data-bs-target="#slider" data-bs-slide-to="1")
                                    li(data-bs-target="#slider" data-bs-slide-to="2")
                                    li(data-bs-target="#slider" data-bs-slide-to="3")
                                    li(data-bs-target="#slider" data-bs-slide-to="4")
                                    li(data-bs-target="#slider" data-bs-slide-to="5")
                                    li(data-bs-target="#slider" data-bs-slide-to="6")
                                    li(data-bs-target="#slider" data-bs-slide-to="7")
                                    li(data-bs-target="#slider" data-bs-slide-to="8")
                                div.carousel-inner
                                    div.carousel-item.active
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/a.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                    div.carousel-item
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/b.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                    div.carousel-item
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/c.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                    div.carousel-item
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/d.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                    div.carousel-item
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/e.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                    div.carousel-item
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/f.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                    div.carousel-item
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/g.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                    div.carousel-item
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/h.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                    div.carousel-item
                                        img.img-slider.d-block.mx-auto(src=require("../images/lastwork/b.jpg") alt="last work photo")
                                        div.carousel-caption.d-none.d-md-block
                                button.d-none.d-lg-block.carousel-control-prev(type="button" data-bs-target="#slider"  data-bs-slide="prev")
                                    span.carousel-control-prev-icon(aria-hidden="true")
                                    span.sr-only
                                button.d-none.d-lg-block.carousel-control-next(type="button" data-bs-target="#slider"  data-bs-slide="next")
                                    span.carousel-control-next-icon(aria-hidden="true")
                                    span.sr-only
            h2 Отзывы
            section.reviews
                div.container
                    div.row
                        div.col-12
                            div.card.w-75.mx-auto.mb-3
                                div.card-body
                                    p.card-text.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque dolorem earum est incidunt magni minima mollitia nemo quas tenetur.
                                    p.card-text.reviews__text.reviews__text--size-margin Дмитрий
                                    p.card-text.reviews__text.reviews__text--size-margin 23:14 07/02/2021
                            div.card.w-75.mx-auto.mb-3
                                div.card-body
                                    p.card-text.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque dolorem earum est incidunt magni minima mollitia nemo quas tenetur.
                                    p.card-text.reviews__text.reviews__text--size-margin Дмитрий
                                    p.card-text.reviews__text.reviews__text--size-margin 23:14 07/02/2021
                            div.card.w-75.mx-auto.mb-3
                                div.card-body
                                    p.card-text.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis, delectus error eveniet excepturi iusto natus nemo nostrum numquam optio provident saepe sapiente ut velit voluptatem! Iusto quibusdam quidem rem repellendus voluptate. Ad, animi consequuntur corporis cumque cupiditate dicta dolorem doloremque ea eligendi fugit id incidunt iusto laborum laudantium libero maxime, minus modi nam neque, non numquam quasi quibusdam quo repellat sapiente sequi similique tempora tempore temporibus totam! Debitis libero magni suscipit. Atque beatae esse itaque iure labore minus odio placeat praesentium, quibusdam quidem saepe similique tempora. Adipisci, magnam placeat!
                                    p.card-text.reviews__text.reviews__text--size-margin Дмитрий
                                    p.card-text.reviews__text.reviews__text--size-margin 23:14 07/02/2021
                            div.card.w-75.mx-auto.mb-3
                                div.card-body
                                    p.card-text.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque dolorem earum est incidunt magni minima mollitia nemo quas tenetur.
                                    p.card-text.reviews__text.reviews__text--size-margin Дмитрий
                                    p.card-text.reviews__text.reviews__text--size-margin 23:14 07/02/2021
                            div.card.w-75.mx-auto.mb-3
                                div.card-body
                                    p.card-text.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque dolorem earum est incidunt magni minima mollitia nemo quas tenetur.
                                    p.card-text.reviews__text.reviews__text--size-margin Дмитрий
                                    p.card-text.reviews__text.reviews__text--size-margin 23:14 07/02/2021
            h2 Оставить отзыв

