doctype html
html(lang="en")
    block sharedVars
    head
        title #{pageTitle}
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset='utf-8')
    body#zabey(class=`${bodyAdditionClass}`)
        section.inner
            div.container-fluid
                div.row
                    div.col-12
                        nav.navbar.navbar-expand-lg.navbar-light
                            a.navbar-brand(href='/')
                                img.logo(src=require("../images/layout/logo.svg") alt="logo")
                            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:none")
                                img.menu-list(src=require("../images/layout/menu-list.svg") alt="menu")
                            div.collapse.navbar-collapse.justify-content-end(id="navbarSupportedContent")
                                ul.navbar-nav.ml-auto
                                    li.nav-item.mx-auto
                                        a.nav-link.menu-link(href='/') главная
                                    li.nav-item.mx-auto
                                        a.nav-link.menu-link(href='') запись
                                    li.nav-item.mx-auto
                                        a.nav-link.menu-link(href='') эскиз
                                    li.nav-item.dropdown.mx-auto
                                        a.nav-link.menu-link(id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") мастера
                                        ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                            li
                                                a.dropdown-item(href="#") Ксения Осипова
                                            li
                                                a.dropdown-item(href="#") Мария Ковалева
                                            li
                                                a.dropdown-item(href="#") Ксения Волкова
                                    li.nav-item.mx-auto
                                        a.nav-link.menu-link(href='faq.html') faq
                hr.hr-nav
        block content
        footer.footer
            section.inner
                div.footer__box
                    p.footer__date

